@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App {
  width: 800px;
  max-width: 100%;
}

.app-title {
  font-family: "Pacifico", cursive;
  font-size: 34px;
}
.list-group li {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.info {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: gray;
  padding: 0 10px;
}

select {
  font-size: 15px !important;
}

.tags-container::-webkit-scrollbar {
  height: 7px;
}

.tags-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

.tags-container::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
  border-radius: 5px;
}
