@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App {
  width: 800px;
  max-width: 100%;
}

.app-title {
  font-family: "Pacifico", cursive;
  font-size: 34px;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.list-group li {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.tag {
  padding: 1px 10px;
  background-color: rgb(181, 181, 181);
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  margin-right: 4px;
  font-size: 15px;
}

.info {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: gray;
  padding: 0 10px;
}

p {
  margin: 0;
  display: flex;
  align-items: center;
}

select {
  font-size: 15px !important;
}

input.placeholder-light::placeholder {
  color: black;
}

input.placeholder-dark::placeholder {
  color: white;
}

span {
  opacity: 0.7;
}
